.content {
    margin: 10px 10px 20px 10px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.description {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-row-gap: 20px;

    @media screen and (min-width: 0) and (max-width: 900px) {
        padding-left: 20px;
    }
}

.description__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket__img {
    display: flex;
    align-items: center;

    img {
        width: 250px;
        height: 100%;

        @media screen and (min-width: 0) and (max-width: 900px) {
            width: 230px;
            height: 80%;
            margin-left: 10px;
            border-radius: 10px;
        }    
    }
}


.name {
    font-size: 19px;
    font-weight: 700;

    @media screen and (min-width: 0) and (max-width: 900px) {
        font-weight: 700;
        font-size: 16px;
    }
}

.price {
    font-size: 19px;
    font-weight: 700;

    @media screen and (min-width: 0) and (max-width: 900px) {
        display: none;
    }
}

.count {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 0) and (max-width: 900px) {
        background-color:#f3f3f3;
        width: 80px;
        }
}

.count__item {
    font-size: 22px;

    @media screen and (min-width: 0) and (max-width: 900px) {
        margin: 0 5px 0 5px;
    }
}

.icon__basket {
    cursor: pointer;
}

.weight {
    @media screen and (min-width: 0) and (max-width: 900px) {
        font-size: 14px;
        text-align: end;
    }
}

.count__icon {
    cursor: pointer;
}

