.card {
    box-sizing: border-box;
    max-height: 390px;
    max-width: 450px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dish {
    padding-top: 10px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 0) and (max-width: 900px) {
        text-align: center;
        height: 100%;
    }
}

// Отзывы
// Просмотр каталога
// Управление каталога и отзыв