.FormReview {
}

.btn {
    padding: 10px 30px;
    background-color: #fa4c43;
    color: white;
    margin-top: 30px;
}

.inputReview {
    width: 300px;
    border: 1px solid silver;
    padding: 8px 20px;
    border-radius: 10px;
}