.card {
    box-sizing: border-box;
    min-height: 390px;
    max-height: 390px;
    max-width: 450px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
}

.product {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    img {
        transition: 0.3s;

        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
            cursor: pointer;
        }
    }
}

.dish {
    padding: 20px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    
    @media screen and (min-width: 0) and (max-width: 900px) {
        text-align: center;
        height: 100%;
    }
}

.price__dish {
    margin: 30px 0 5px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 0) and (max-width: 900px) {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
}

.info__name, .price {
    font-weight: 700;
    font-size: 19px;
}

.weight {
    opacity: 0.7;

    @media screen and (min-width: 0) and (max-width: 900px) {
        font-size: 14px;
    }
}

.info__description {
    font-size: 15px;
}

.edit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.edit__item {
    cursor: pointer;
    color: #fa4c43;
}